<!-- This line will not show up on the page -->
<% if(greeting) {%>
  <!-- This line will only show if greeting is truthy -->
  <h1>hey look it's a?!?? a greeting... they said <b><%= greeting %></b></h1>
<% }%>